
.header{

	width:20%;

	position:absolute;

	background:#3d5b99;

	color:white;

	font-family:verdana;

        display:inline-block;
          	
}



.submit1{

	

	background:#808080;

	color:white;

	position:fixed;

	z-index:20;

	height:22px;

	width:50px;

	cursor:pointer;

	


}

@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
   
}