<html>
<style type="text/css">
#ProfilePage
{
    /* Move it off the top of the page, then centre it horizontally */
    margin: 50px auto;
    width: 635px;
border: 1px solid red;
}

#LeftCol
{
    /* Move it to the left */
    float: left;

    width: 200px;
    text-align: center;

    /* Move it away from the content */
    margin-right: 10px;

border: 1px solid brown;
}

#Photo
{
float: center;
    /* Width and height of photo container */
    width: 200px;
    height: 375px;
border: 1px solid green;
}

#PhotoOptions
{
    float: center;
    width: 250px;
border: 1px solid brown;
}

#Info
{
    width: 400px;
    text-align: center;

   /* Move it to the right */
   float: left;
border: 1px solid blue;
}

#Info strong
{

    display: inline-block;
    width: 100px;
border: 1px solid orange;
}

#Info span
{
    display: inline-block;
    width: 270px;
border: 1px solid purple;
}
</style>
</html>