<html>
    <head>
        <link href="style/style1.css" rel="stylesheet" type="text/css"/>
        <meta charset="utf-8"/>
    </head>
    <body >
        <div class="log"> <button onclick="*">log out</button></div>
        <h4> welcome ** </h4>


        <div class="nav">

            <div class="container">

                <ul>
                    <li><a href="home.html" >HOME</a></li>
                    <li><a href="history.html" class="active">History</a></li>
                    <li><a href="subscribs.html">Subscribes</a></li>
                    <li><a href="about.html" class="active">About</a></li>

                </ul>
            </div>
        </div>


        <h1>    your exams<h1>
                <table  > 
                    <tr>	
                        <td>test Name</td>
                        <td>test code</td>
                        <td>maker name</td>
                        <td>secure</td>
                        <td>marke</td>
                    </tr>

                    <tr>
                        <td>marwa</td>
                        <td> </td>
                        <td>20</td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>

                </body>
                </html>