<html>
    <head>

        <link href="../cources/css/bootstrap.css" rel="stylesheet" type="text/css"/>
        <link href="../recources/style/style1.css" rel="stylesheet" type="text/css"/>


        <meta charset="utf-8"/>
    </head>
    <body >
        <div class="log"> <button onclick="">log out</button></div>
        <h4> welcome ** </h4>


        <div class="nav">

            <div class="container">
                <ul>
                    <li><a href="home.html" class="active" >HOME</a></li>
                    <li><a href="history.html" >History</a></li>
                    <li><a href="subscribes.html">Subscribes</a></li>
                    <li><a href="about.html">About</a></li>

                </ul>
            </div>
        </div>


        <h1></h1>
        <br>
        <br>
        <br>
        <div class="container">
            <table class="table-striped"> 
                <tr>	
                    <td>Quiz code</td>
                    <td>Quiz Name</td>
                    <td>Doctor name</td>
                    <td>Password</td>

                </tr>

                <tr>
                    <td>marwa</td>
                    <td>5040</td>
                    <td>Dr.Ahmed</td>
                    <td>********</td>


                </tr>
            </table>
        </div>
        <link href="js/bootstrap.min.js" rel="stylesheet" type="text/javascript"/>
    </body>
</html>