<html>
    <head>
        <link href="style/style1.css" rel="stylesheet" type="text/css"/>

        <meta charset="utf-8"/>
    </head>
    <body >
        <div class="log"> <button onclick="">log out</button></div>
        <h4> welcome ** </h4>
        <div class="nav">
            <div class="container">
                <ul>
                    <li><a href="home.html" >HOME</a></li>
                    <li><a href="history.html" >History</a></li>
                    <li><a href="subscribs.html">Subscribes</a></li>
                    <li><a href="about.html" class="active">About</a></li>
                </ul>

            </div>
        </div>



        <h1> Results <h1>
                <table  > 

                    <td>subject Name</td>
                    <td>maker name</td>
                    <td>secure</td>
                    </tr>

                    <tr>
                        <td>marwa</td>
                        <td>20</td>
                        <td></td>


                    </tr>
                </table>
                </div>
                </body>
                </html>