<html>
<head>
<link href="style/style1.css" rel="stylesheet" type="text/css"/>

<meta charset="utf-8"/>
</head>
	<body >
	<div class="log"> <button onclick="">log out</button></div>
	 <h4> welcome ** </h4>
 <div class="nav">
    <div class="container">
	<ul>
	  <li><a href="home.html" >HOME</a></li>
        <li><a href="history.html" >History</a></li>
		 <li><a href="subscribs.html">subscribs</a></li>
      <li><a href="about.html" >ABOUT</a></li>
	</ul>
    
    </div>
    </div>
	
	

<h1> quiz **** <h1>
		<table  > 
			
			<td>Name</td>
            <td>degree</td>
			<td>time to submit</td>
</tr>

    <tr>
        <td>marwa</td>
        <td>20</td>
		<td></td>
        
                         
    </tr>
		</table>
</div>
	</body>
</html>